/* parte de index*/

.TamLetra
{
    font-size: large;
}

.TamIconos
{
    font-size: 2em;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) 
{
    .MuestraCarrus
    {
        visibility: visible;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) 
{
    .MuestraCarrus
    {
        visibility: hidden;
    }
}

/* parte de tienda*/

.CategoriaTienda
{
    overflow-y:scroll; 
    height: 600px;
}

/* parte de contacto*/

.TamLetraContacto
{
    font-size: 2.5em;
}

.colorIconos
{
    color: maroon;
}

.colorInfo
{
    color: darkcyan;
}

/* parte de perfil*/

.datosPerfil
{
    font-size: 2.5em;
    font-weight: bold;
    color: maroon;
}


